
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="./css/index-style.css">
	<title>BeardedBeersBlog</title>
</head>
<body>
<div class ="wrapper">
<h2 class="section1">BeardedBeersBlog</h2>
<p class="box ad1">Great Beer</p>
<div class="slideshow-container" "section2">
  <div class="mySlides1">
    <img src="./images/beer-1605826_640.jpg" alt="">
  </div>

  <div class="mySlides1">
    <img src="./images/craft-beer-1998293_640.jpg" alt="">
  </div>

  <div class="mySlides1">
    <img src="./images/craft-beer-2468985_640.jpg" alt="">
  </div>

  <a class="prev" onclick="plusSlides(-1, 0)">&#10094;</a>
  <a class="next" onclick="plusSlides(1, 0)">&#10095;</a>
</div>

<p class="box ad2">Great Atmosphere</p>
<div class="slideshow-container section3">
  <div class="mySlides2">
    <img src="./images/bar-2209813_640.jpg" alt="">
  </div>

  <div class="mySlides2">
    <img src="./images/bar-209148_640.jpg" alt="">
  </div>

  <div class="mySlides2">
    <img src="./images/pub-2243488_640.jpg" alt="">
  </div>

  <a class="prev" onclick="plusSlides(-1, 1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1, 1)">&#10095;</a>
</div>
</div>
  <script src="./js/index.js"></script>
  </body>
</html>