<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title th:text="${review.title}">title</title>
</head>
<body>
	<nav>
		<ul>
			<li th:each="category : ${categories}"><a th:href="|/categories/${category.id}|" th:text="${category.categoryName}">Category Links</a></li>
		</ul>
	</nav>
	<main>
		<div>
			<h1 th:text="${review.title}">title</h1>
			<figure>
				<img th:src="@{|/images/${review.imageUrl}|}">
			</figure>
			
		</div>		
		<div id="review">
			<p th:text="${review.abv}">abv</p>
			<p th:text="${review.brewery}">brewery</p>
			<p th:text="${review.content}">content</p>
						
		</div>
		<form th:action="@{|/reviews/${review.id}/add-comment|}" method="post">
			<label>Name: <input type="text" name="commentName" /></label>
			<label>Comment: <input type="text" name="commentContent" /></Label>
			<input type="hidden" th:value="${review.id}" name="id" />
			<input type="submit" value="Submit" />
		</form>

<!-- 		<form th:action="@{|/reviews/${review.id}/add-tag|}" method="post">
			<label>Name: <input type="text" name="tagName" /></label>
			<input type="hidden" th:value="${review.id}" name="id" />
			<input type="submit" value="Submit" />
		</form>
		<form th:action="@{|/reviews/${review.id}/remove-tag|}" method="post">
			<label>Name: <input type="text" name="tagName" /></label>
			<input type="hidden" th:value="${review.id}" name="id" />
			<input type="submit" value="Submit" />
		</form>
		 <a class="tags">
      <label>New Tag: <input id="tagInput" type="text" name="tagName" /></label>
      <button>Add Tag</button>
    </a>
	</main> -->
	


		<div>
			<p>
				<label >Add a Tag: <input class="tag_section" type="text" name="tagName"/></label>
			</p>
			<button class="tagSubmit">Submit</button>
			<p class="tags">Tags:</p>
		</div>
	</main>
<script src="/js/dom.js"></script>

<script src="/js/app.js"></script>
</body>
</html>